#arrow-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 2px solid black;
    background-color: white;
    border-radius: 100%;
    z-index: 999;

    transition: all 300ms;

}

#arrow-container a
{
    color: black;
}

#arrow-container a:hover {
    color: var(--rojo);
    transition: all 300ms;
}

#arrow-container:hover{
    transform: scale(1.2);

}