/*TECNOLOGIES*/
#tech-container  {
    padding: 0.5em;
    background-color: gainsboro;
}
#tecnologies-container{
      display: flex;
    align-items: center;
    justify-content: center;
}




#tech-container-title {
    text-align: center;
    font-size: 40px;
    padding: 0.5em;
    font-weight: 100;
    
}

#tecnologies-container svg {
    /* filter: grayscale(1); */
    padding: 0.25em;
    margin-left: 5em;
    width: 100px;

    transition: all 300ms;

}

#tecnologies-container svg:hover {
    transform: scale(1.2);
    transition: all 300ms;

}